body {
	background-color: #282828;
	color: #ebdbb2;
	font-family: Open Sans, sans-serif;
	font-size: 16px;
	font-weight: 300;
	user-select: none;
}

.centerContainer {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.centerContent {
	position: absolute;
	min-width: 500px;
	max-width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.linksColumnsGroup {
	display: table;
	margin: auto auto 8px auto;
	table-layout: fixed;
}

.linksColumn {
	display: table-cell;
}

.linksHeader {
	border-bottom: 6px ridge #d65d0e;
	border-radius: 0px 0px 6px 6px;
	font-variant: small-caps;
	text-align: center;
	padding: 0px 4px 16px 4px;
	margin: 0px 0px 24px 0px;
	height: 20px;
	font-size: 20px;
	font-weight: 700;
	white-space: nowrap;
	animation: headAnim 200ms ease-out 500ms backwards;
}

@keyframes headAnim {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.linksIcon {
	width: 1em;
	height: 1em;
	border-radius: 6px;
	margin-right: 12px;
}

.linksItem {
	margin: auto;
	text-align: left;
	height: 28px;
	padding: 2px 10px 2px 10px;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	transition: color 100ms linear, background 200ms linear;
	will-change: transform;
	animation: slideOutLinks 200ms ease-out 600ms backwards;
}

.linksItem:hover {
	background: #32302f;
	color: #458588;
}

.linksItem:active {
	background: #689d6a;
	color: #b8bb26;
}

@keyframes slideOutLinks {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

a, a:active, a:visited {
	text-decoration: none;
	color: inherit;
	outline: none;
}

.clockTime {
	margin: auto;
	text-align: center;
	font-size: 64px;
	font-weight: 300;
	animation: fadeInUp 300ms ease-out 100ms backwards;
}

.clockDate {
	margin: auto;
	text-align: center;
	font-size: 28px;
	font-weight: 300;
	animation: fadeInUp 300ms ease-out 100ms backwards;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.clockGreet {
	margin: auto auto 8px auto;
	text-align: center;
	font-size: 36px;
	font-weight: 300;
	margin-top: 8px;
	will-change: transform;
	animation: greetAnim 300ms ease-out 200ms backwards;
}

@keyframes greetAnim {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.searchBox {
	display: flex;
	grid-column: 1/-1;
	padding-bottom: 0px;
	margin-top: 16px;
	margin-bottom: 20px;
	align-items: center;
	justify-content: center;
}

.inputBox {
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom: 1px solid #ebdbb2;
	outline: none;
	background: linear-gradient(to top, #32302fff, #32302f00);
	padding: 8px 8px 8px 24px;
	color: #ebdbb2;
	font-size: 20px;
	border-radius: 20px 20px 4px 4px;
	min-width: 400px;
	width: 420px;
	margin-left: 0;
	margin-bottom: 0px;
	will-change: transform;
	animation: searchAnim 300ms ease-out 400ms backwards;
}

@keyframes searchAnim {
	from {
		opacity: 0;
		transform: translateX(-40px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.separator {
	width: 100%;
	border-bottom: 6px ridge #d65d0e;
	border-radius: 0px 0px 6px 6px;
	color: #d65d0e;
	margin-top: 0px;
	animation: fadeInUp 500ms ease-out 300ms backwards;
}